JWT_SECRET=-P4!EvX#%asUc;/5sB2uckb=erd-:cXrBhzomu|qyx2
CLIENT_URL=http://localhost:3000

# MONGO DB INITIALIZING

MONGO_URL=mongodb+srv://karaniewskiruslan_db_user:anjeBRZtuRrQP8up@services.88xcbdw.mongodb.net/?appName=Services

# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=
# GOOGLE_REFRESH_TOKEN= 